{% extends 'base.html' %}
{% block content %}

    <h2>{{ movie.movie_title }}</h2>
    <ul>
        <li>Release Date: {{ movie.release_date }}</li>
        <li><a href="{{ movie.IMDB_URL }}">IMDb Profile:</a></li>
    </ul>
        
        <h4>Movie Ratings:</h4> 
        <table>
            <tr>
                <th>User ID</th>
                <th>Movie Rating</th>
            </tr>
        {% for rating in movies_rated %}
            <tr>
            <td>{{rating[1]}}</td>
            <td> {{rating[0]}}</td> 
            </tr>
        {% endfor %}    
        </table>

        <form action='/test/{{ movie.movie_id }}' method='post'>
            <label>Rate This Movie</label>
                <input type='checkbox' name='user_rating' value='1'>1-WORST EVER
                <input type='checkbox' name='user_rating' value='2'>2-DIDN'T THROW UP
                <input type='checkbox' name='user_rating' value='3'>3-MEH
                <input type='checkbox' name='user_rating' value='4'>4-GOOD
                <input type='checkbox' name='user_rating' value='5'>5-BEST EVER
                <br>
                    <input type="submit">
                <!-- <a href='/test/{{ movie.movie_id }}' class='button'>Submit</a> -->
                <!-- <button type='submit' formtarget='/test/{{ movie.movie_id }}'>Submit</button> -->
        </form>
{% endblock %}