{% extends 'base.html' %}
{% block content %}

    <h2>Hello</h2>
    <ul>
        <li>User: {{ user.user_id }}</li>
        <li>Age: {{ user.age }}</li>
        <li>Zipcode: {{ user.zipcode }}</li>
    </ul>
        
        <h4>Movie Ratings:</h4> 
        <table>
            <tr>
                <th>Movie Title</th>
                <th>Movie Rating</th>
            </tr>
        {% for rating in movies_rated %}
            <tr>
            <td>{{rating[2]}}</td>
            <td> {{rating[0]}}</td> 
            </tr>
        {% endfor %}    
        </table>
    <a href='/'><button type='button' id='home'>Go homepage</button></a>
{% endblock %}